@{
    ViewData["Title"] = "Inicio";
}


<div class="container text-center mt-5">
    <!-- Título -->
    <h1 class="display-3 font-weight-bold mb-4" style="color: #B4764F;">Mascotas & Amigos</h1>

    <!-- Subtítulo y Descripción -->
    <p class="lead mb-4">Bienvenido a la tienda de confianza para todas tus mascotas. Aquí encontrarás lo mejor para tus amigos peludos.</p>
    
    <!-- Imagen Principal -->
    <img src="https://i.pinimg.com/originals/e9/34/0c/e9340cbe3ee4a6ab42b4d464c9bfc709.jpg" alt="Mascotas & Amigos" class="img-fluid rounded mb-4" />


    <!-- Información Adicional -->
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #B4764F;">Nuestras Mascotas</h5>
                    <p class="card-text">En nuestra tienda, ofrecemos una variada selección de mascotas adorables y bien cuidadas. Desde cachorros juguetones hasta gatos cariñosos, cada uno de ellos ha sido seleccionado con amor y cuidado para garantizar que encuentres a tu nuevo mejor amigo. Ven y conoce a nuestras mascotas, cada una con su propia personalidad y encanto.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #B4764F;">Sobre Nosotros</h5>
                    <p class="card-text">En "Mascotas & Amigos", nuestra misión es proporcionar a tus mascotas lo mejor en productos y cuidado. Con años de experiencia en el sector, nuestro equipo está dedicado a ofrecer productos de alta calidad y un servicio excepcional. Creemos que cada mascota merece el mejor cuidado, y trabajamos arduamente para asegurar que cada visita a nuestra tienda sea una experiencia positiva y satisfactoria.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #B4764F;">Nuestros Productos</h5>
                    <p class="card-text">Explora nuestra amplia gama de productos especialmente seleccionados para el bienestar y felicidad de tus mascotas. Desde alimentos premium hasta juguetes interactivos, tenemos todo lo que tu amigo peludo necesita para estar feliz y saludable. Todos nuestros productos están hechos con materiales de alta calidad y están diseñados para satisfacer las necesidades específicas de cada tipo de mascota.</p>
                </div>
            </div>
        </div>
    </div>
</div>

